html, body {
    box-sizing: border-box;
    font: 13px Helvetica, Arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: -2.5em;
    width: 80%;
    background-color: #FDF6E3;
    color: #586E75;
    height: 94%;
}
a {
    color: #268BD2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
blockquote {
    padding: 1em 1em;
    border-left: 5px solid #D33682;
    margin: 0 0 1em;
}
.post-meta {
    font-style: italic;
}
#header {
    display: block;
    overflow: visible;
    padding-right: 2em;
    padding-left: 0.7em;
    margin: auto;
    background-image: url("/media/banner.png");
    width: 100%;
    height: 20em;
    background-position: center;
    position: relative;
}
#header #left {
    float: left;
    width: 70%;
    position: relative;
}
#header #right {
    margin: 0;
    float: right;
    right: 0;
    position: absolute;
    bottom: 0;
    transform: translate(0%, -50%);
}
#footer {
    height: 2.5em;
    padding: 1em 0;
    margin-left: 2em;
    border-width: 1px 0 0:
}
#header header a {
    font-size: 210%;
}
#header header a:hover {
    text-decoration: none;
}
#content {
    min-height: 100%;
    margin-bottom: -2.5em;
}
#content:after {
    content: "";
    display: block;
    height: 2.5em;
}
.fade {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity: .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
    opacity: 1;
}
pre {
    padding: 9.5px;
    margin: 0 0 10px;
    word-break: break-all;
    word-wrap: break-word;
    color: #2b2b2b;
    background-color: #073642;
    border: 1px solid #073642;
    border-radius: 4px;
}
code {
    padding: 0.25em;
    font-family: DejaVu Sans Mono, Consolas;
    white-space: pre-wrap;
    border: 0;
    border-radius: 4px;
}
pre code {
    display: block;
    color: #657B83;
    background-color: #002B36;
}
.tags {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 0.2em;
}
.tags li {
    display: inline-block;
    padding-left: 0.3em;
}
.tags li:nth-child(even) {
    color: #6C71C4;
}
.colleft {
    float: left;
    width: 70%;
    position: relative;
}
.colright {
    float: right;
    width: 30%;
    position: relative;
}
.embed-video {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
figure {
    width: 75%;
    text-align: center;
    margin: auto;
}
::-moz-selection {
    background:#FF5E99;
    color:#FFFFFF;
    text-shadow:none
}
::selection {
    background:#FF5E99;
    color:#FFFFFF;
    text-shadow:none
}
