<section>
    <div id="author">
        <a class="fade" href="about-me/"><h3 class="fade">Kenny Ballou</h3></a>
        <h4><code>:(){ :|:&amp; };:</code></h4>
        <a href="https://github.com/kennyballou">
            <i class="fade fa fa-github-square fa-2x"></i>
        </a>
        <a href="https://bitbucket.org/kballou">
            <i class="fade fa fa-bitbucket-square fa-2x"></i>
        </a>
        <a href="http://www.linkedin.com/in/kennyballou">
            <i class="fade fa fa-linkedin-square fa-2x"></i>
        </a>
        <a href="https://plus.google.com/+KennyBallou">
            <i class="fade fa fa-google-plus-square fa-2x"></i>
        </a>
        <a href="https://twitter.com/kennyballou">
            <i class="fade fa fa-twitter-square fa-2x"></i>
        </a>
    </div>
</section>
