<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="author" content="Kenny Ballou">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="/" />
    <title>~kb/blog</title>

    <link rel="canonical" href="" />
    <link href="/index.xml" rel="alternate" type="application/rss+xml"
          title="~kb/blog" />

    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/fa-all.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
