<meta charset="utf-8">

<meta name="author" content="Kenny Ballou">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>~kb</title>

<link rel="canonical" href="/" />
<link href="/index.xml" rel="alternate" type="application/rss+xml"
      title="~kb/blog" />

<link rel="stylesheet" href="/css/simple.css" />
<link rel="stylesheet" href="/css/simple.add.css" />
<link rel="stylesheet" href="/css/katex.css" />
<link rel="stylesheet" href="/css/fa-all.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script defer type="text/javascript" src="/js/katex.js"></script>
<script defer type="text/javascript" src="/js/katex-render.js"></script>
