<nav>
  <a href="/">
    <i class="fade fas fa-home"></i>
  </a>
  <a href="/about.html">
    <i class="fade fas fa-user-circle"></i>
  </a>
  <a href="https://git.sr.ht/~kennyballou/"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fas fa-code-branch fa-1x"></i>
  </a>
  <a href="https://github.com/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fab fa-github fa-1x"></i>
  </a>
  <a href="https://bitbucket.org/kballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fab fa-bitbucket fa-1x"></i>
  </a>
  <a href="https://linkedin.com/in/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fab fa-linkedin-in fa-1x"></i>
  </a>
  <a href="/support.html">
    <i class="fade fas fa-heart fa-1x"></i>
  </a>
  <a href="/resume.pdf"
     target="_blank">
    <i class="fade far fa-file-pdf"></i>
  </a>
  <a href="/B74CC4B41148C3DB364BC21182D94B35744E1B34.asc"
     target="_blank">
    <i class="fade fas fa-key"></i>
  </a>
  <a href="/index.xml" rel="alternate"
     type="application/rss+xml">
    <i class="fade fas fa-rss fa-1x"></i>
  </a>
</nav>
