<nav>
  <a href="/about.html">
    <i class="fade fas fa-user-circle"></i>
  </a>
  <a href="https://git.devnulllabs.io"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fas fa-code-branch fa-1x"></i>
  </a>
  <a href="https://github.com/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fab fa-github fa-1x"></i>
  </a>
  <a href="https://bitbucket.org/kballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fab fa-bitbucket fa-1x"></i>
  </a>
  <a href="https://twitter.com/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fab fa-twitter fa-1x"></i>
  </a>
  <a href="https://www.buymeacoffee.com/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fas fa-mug-hot fa-1x"></i>
  </a>
  <a href="/resume.pdf"
     target="_blank">
    <i class="fade far fa-file-pdf"></i>
  </a>
  <a href="/932F3E8E1C0F4A9895D7B8B8B0CAA28A02958308.txt"
     target="_blank">
    <i class="fade fas fa-key"></i>
  </a>
  <a href="/index.xml" rel="alternate"
     type="application/rss+xml">
    <i class="fade fas fa-rss fa-1x"></i>
  </a>
</nav>
