<nav>
  <a href="/">
    <i class="fade fa-solid fa-home"></i>
  </a>
  <a href="/about.html">
    <i class="fade fa-solid fa-user-circle"></i>
  </a>
  <a href="https://git.sr.ht/~kennyballou/"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fa-regular fa-circle fa-1x"></i>
  </a>
  <a href="https://github.com/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fa-brands fa-github fa-1x"></i>
  </a>
  <a href="https://codeberg.org/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fa-regular fa-code-branch fa-1x"></i>
  </a>
  <a href="https://orcid.org/0000-0002-6032-474X"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fa-brands fa-orcid"></i>
  </a>
  <a href="https://linkedin.com/in/kennyballou"
     target="_blank"
     rel="noopener noreferrer">
    <i class="fade fa-brands fa-linkedin-in fa-1x"></i>
  </a>
  <a href="/support.html">
    <i class="fade fa-solid fa-heart fa-1x"></i>
  </a>
  <a href="/cv.pdf"
     target="_blank">
    <i class="fade fa-regular fa-file-pdf"></i>
  </a>
  <a href="/B74CC4B41148C3DB364BC21182D94B35744E1B34.asc"
     target="_blank">
    <i class="fade fa-solid fa-key"></i>
  </a>
  <a href="/index.xml" rel="alternate"
     type="application/rss+xml">
    <i class="fade fa-solid fa-rss fa-1x"></i>
  </a>
</nav>
